@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    font-family: 'Poppins', sans-serif;

}
.carousel-inner {
    position: relative;
    width: 100%;
}

.carousel-item {
    position: relative;
    display: none;
    text-align: center;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
}

.carousel-caption h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.carousel-caption p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.carousel-caption a.btn {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Bootstrap primary button color */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.carousel-caption a.btn:hover {
    background-color: #0056b3; /* Darker shade of Bootstrap primary button color on hover */
}

